interactions:
- request:
    body: '{"method": "eth_getBalance", "params": ["413a86838b711ef16e4fa4b0422918d45095042971",
      "latest"], "jsonrpc": "2.0", "id": 1}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.shasta.trongrid.io/jsonrpc
  response:
    body:
      string: '{"jsonrpc":"2.0","id":1,"result":"0x7be02923"}

        '
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"method": "eth_getBalance", "params": ["4107f860ef30e23d4c694cdbee09f5ff8a3443b4e1",
      "latest"], "jsonrpc": "2.0", "id": 1}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.shasta.trongrid.io/jsonrpc
  response:
    body:
      string: '{"jsonrpc":"2.0","id":1,"result":"0x0"}

        '
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
