interactions:
- request:
    body: '{"method": "eth_call", "params": [{"to": "4142a1e39aefa49290f2b3f9ed688d7cecf86cd6e0",
      "data": "0x313ce567"}, "latest"], "jsonrpc": "2.0", "id": 1}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.shasta.trongrid.io/jsonrpc
  response:
    body:
      string: '{"jsonrpc":"2.0","id":1,"result":"0x0000000000000000000000000000000000000000000000000000000000000006"}

        '
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"method": "eth_call", "params": [{"to": "41d5a8752a5fc64a1ce09df7b195df6b669d09271f",
      "data": "0x313ce567"}, "latest"], "jsonrpc": "2.0", "id": 1}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.shasta.trongrid.io/jsonrpc
  response:
    body:
      string: '{"jsonrpc":"2.0","id":1,"error":{"code":-32600,"message":"Smart contract
        is not exist.","data":"{}"}}

        '
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"method": "eth_call", "params": [{"to": "410c22811755ec2eca943e8b0618b4010011940202",
      "data": "0x313ce567"}, "latest"], "jsonrpc": "2.0", "id": 1}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.shasta.trongrid.io/jsonrpc
  response:
    body:
      string: '{"jsonrpc":"2.0","id":1,"result":"0x0000000000000000000000000000000000000000000000000000000000000006"}

        '
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
