interactions:
- request:
    body: '{"method": "eth_getBalance", "params": ["41325828ce56c69e0e6be7c3da62ba0c60992b547e",
      "latest"], "jsonrpc": "2.0", "id": 1}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://go.getblock.io/d5d80fb886f2401a98a7f4fe57d88839/jsonrpc
  response:
    body:
      string: '{"jsonrpc":"2.0","id":1,"result":"0xee7a6a40"}

        '
    headers:
      Content-Type:
      - application/json-rpc
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"method": "eth_getBalance", "params": ["4107f860ef30e23d4c694cdbee09f5ff8a3443b4e1",
      "latest"], "jsonrpc": "2.0", "id": 1}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://go.getblock.io/d5d80fb886f2401a98a7f4fe57d88839/jsonrpc
  response:
    body:
      string: '{"jsonrpc":"2.0","id":1,"result":"0x0"}

        '
    headers:
      Content-Type:
      - application/json-rpc
    status:
      code: 200
      message: OK
version: 1
