interactions:
- request:
    body: '{"address": "kQAiboDEv_qRrcEdrYdwbVLNOXBHwShFbtKGbQVJ2OKxY_Di", "method":
      "get_wallet_address", "stack": [["tvm.Slice", "te6cckEBAQEAJAAAQ4AcqY4fCffomSfvUEjBpTu8VyLu3//UA0Ox4RVKnPcaSzDNTf3K"]]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://testnet.toncenter.com/api/v2/runGetMethod
  response:
    body:
      string: '{"ok":true,"result":{"@type":"smc.runResult","gas_used":2961,"stack":[["cell",{"bytes":"te6cckEBAQEAJAAAQ4AElfdEZc99epHnvESXELzv3segI9eugEFOZH6xjr/iM7DqRfdG","object":{"data":{"b64":"gASV90Rlz316kee8RJcQvO/ex6Aj166AQU5kfrGOv+IzoA==","len":267},"refs":[],"special":false}}]],"exit_code":0,"@extra":"1735468241.9915805:12:0.8842874363822512","block_id":{"@type":"ton.blockIdExt","workchain":-1,"shard":"-9223372036854775808","seqno":26510744,"root_hash":"D73sJeB/rI3P1KEjSTOP1MJw8FL56/4N1SidVciYASY=","file_hash":"wsKIbhOaEjwwkqsDmgn7kv6RKhUwyCWSa1iChMjZh3Y="},"last_transaction_id":{"@type":"internal.transactionId","lt":"29298800000001","hash":"8WvLBS5wkaIKZgGhAAwo0y0DMCR1uu2vQZuiZ6uwNwc="}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
