interactions:
- request:
    body: '{"address": "kQAiboDEv_qRrcEdrYdwbVLNOXBHwShFbtKGbQVJ2OKxY_Di", "method":
      "get_wallet_address", "stack": [["tvm.Slice", "te6cckEBAQEAJAAAQ4AAkIGoV1JlPdxhyj449EPdlQBht2uKB2Tr/j6D/wCdMjAO5J3r"]]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://testnet.toncenter.com/api/v2/runGetMethod
  response:
    body:
      string: '{"ok":true,"result":{"@type":"smc.runResult","gas_used":2961,"stack":[["cell",{"bytes":"te6cckEBAQEAJAAAQ4AOGJjtL7Yeql16Dx0DwQ6klk9ygjxTNHquJw02e3ALTnD+cOmL","object":{"data":{"b64":"gA4YmO0vth6qXXoPHQPBDqSWT3KCPFM0eq4nDTZ7cAtOYA==","len":267},"refs":[],"special":false}}]],"exit_code":0,"@extra":"1735468290.1724136:3:0.8450970284222464","block_id":{"@type":"ton.blockIdExt","workchain":-1,"shard":"-9223372036854775808","seqno":26510760,"root_hash":"/fWDwrZN4II3mtBJn+iugLucsYFP5puVJOSo4cAETCE=","file_hash":"l+ip8APMuJql2y2BuUoiHRNFDTxtzZil6WYSZuHGNKE="},"last_transaction_id":{"@type":"internal.transactionId","lt":"29298800000001","hash":"8WvLBS5wkaIKZgGhAAwo0y0DMCR1uu2vQZuiZ6uwNwc="}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
