interactions:
- request:
    body: '{"address": "kQCKt2WPGX-fh0cIAz38Ljd_OKQjoZE_cqk7QrYGsNP6wfP0", "method":
      "get_wallet_address", "stack": [["tvm.Slice", "te6cckEBAQEAJAAAQ4AY0XPx9Duahjny2d5vYt+uViqlLlYC+uJS3orzerGyofCiOb+H"]]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://testnet.toncenter.com/api/v2/runGetMethod
  response:
    body:
      string: '{"ok":true,"result":{"@type":"smc.runResult","gas_used":4479,"stack":[["cell",{"bytes":"te6cckEBAQEAJAAAQ4AUPxYjNoBGJgQowtZECOkLKQCe/cVpWemwI+V/uxSgQpCPmf6J","object":{"data":{"b64":"gBQ/FiM2gEYmBCjC1kQI6QspAJ79xWlZ6bAj5X+7FKBCgA==","len":267},"refs":[],"special":false}}]],"exit_code":0,"@extra":"1735468168.1262717:0:0.8020204556193052","block_id":{"@type":"ton.blockIdExt","workchain":-1,"shard":"-9223372036854775808","seqno":26510716,"root_hash":"ARHXHzNvkRTMk9dD1xJdhcJjYo9WSbQm8WtCMQV432M=","file_hash":"YXHTHpmV5d2XVsvSpJPTipIDziuN/uPNtTUECWEvdOw="},"last_transaction_id":{"@type":"internal.transactionId","lt":"25276366000001","hash":"MTfXYDFwr2lQYJh5QVzuxKGWs/vaFFUDqZAftbkMQj4="}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
