interactions:
- request:
    body: '{"address": "kQCKt2WPGX-fh0cIAz38Ljd_OKQjoZE_cqk7QrYGsNP6wfP0", "method":
      "get_wallet_address", "stack": [["tvm.Slice", "te6cckEBAQEAJAAAQ4ATCJeRu43Ebx6QR06qt11pcm1LqYUcaSUg1sBzkDPAzNDYf6kI"]]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://testnet.toncenter.com/api/v2/runGetMethod
  response:
    body:
      string: '{"ok":true,"result":{"@type":"smc.runResult","gas_used":4479,"stack":[["cell",{"bytes":"te6cckEBAQEAJAAAQ4AGXfklHqJKSagehNbjrf/5Up8jmLR9zQDgTSDS+U0eVTCsZYX2","object":{"data":{"b64":"gAZd+SUeokpJqB6E1uOt//lSnyOYtH3NAOBNINL5TR5VIA==","len":267},"refs":[],"special":false}}]],"exit_code":0,"@extra":"1735468347.292001:4:0.06730061067462578","block_id":{"@type":"ton.blockIdExt","workchain":-1,"shard":"-9223372036854775808","seqno":26510783,"root_hash":"l9riU4TybkiFjis4j0KMctf4W4TMrr1obL9hB5hUtx4=","file_hash":"NoWS+Rn+1KbFk5xutwJyEm0eFX4xaE9eBDrJaP0YXks="},"last_transaction_id":{"@type":"internal.transactionId","lt":"25276366000001","hash":"MTfXYDFwr2lQYJh5QVzuxKGWs/vaFFUDqZAftbkMQj4="}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
