interactions:
- request:
    body: '{"method": "getBlockTransactions", "params": {"workchain": 0, "shard":
      2305843009213693952, "seqno": 21020822, "count": 2}, "jsonrpc": "2.0", "id":
      1}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://testnet.toncenter.com/api/v2/jsonRPC
  response:
    body:
      string: '{"ok":true,"result":{"@type":"blocks.transactions","id":{"@type":"ton.blockIdExt","workchain":0,"shard":"2305843009213693952","seqno":21020822,"root_hash":"VbdPr9TpvaD3pUt0gW5h2av7cpUJUZBfHf3vQmAqFB0=","file_hash":"MY+MLsvrLLAAxEZtyCGXAjHrTr5ZaAqV9xCleoka5yM="},"req_count":2,"incomplete":true,"transactions":[{"@type":"blocks.shortTxId","mode":135,"account":"0:1b16673cd10e9cdb8d1a2adb52667c85235f1348cd01c9417c8aed16beda36a2","lt":"22013299000001","hash":"HrT5S8S4zMifwDVspjEKDlSsry/6Nt9IAqmRPnWHdGU="},{"@type":"blocks.shortTxId","mode":135,"account":"0:1b16673cd10e9cdb8d1a2adb52667c85235f1348cd01c9417c8aed16beda36a2","lt":"22013299000005","hash":"AwDwEqG+/w64ca+Xoc4JkJl+Iwkrs79Sjs82L2s0Vtw="}],"@extra":"1716802375.7976258:2:0.2099350636252788"},"id":"1","jsonrpc":"2.0"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"method": "getBlockTransactions", "params": {"workchain": 0, "shard":
      78568658568, "seqno": 0, "count": 2}, "jsonrpc": "2.0", "id": 1}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://testnet.toncenter.com/api/v2/jsonRPC
  response:
    body:
      string: '{"ok":false,"error":"LITE_SERVER_NOTREADY: cannot find block (0,000000124b0e9688)
        seqno=0: ltdb: block not found","code":500}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 500
      message: Internal Server Error
[...]
- request:
    body: '{"method": "getBlockTransactions", "params": {"workchain": 0, "shard":
      -6917529027641081856, "seqno": 21021183, "count": 2}, "jsonrpc": "2.0", "id":
      1}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://testnet.toncenter.com/api/v2/jsonRPC
  response:
    body:
      string: '{"ok":true,"result":{"@type":"blocks.transactions","id":{"@type":"ton.blockIdExt","workchain":0,"shard":"-6917529027641081856","seqno":21021183,"root_hash":"nGR9BvX4VwL4ekr02WuMGjXtmXGvU8fZQQ1rnYw1Eh0=","file_hash":"tRZ/BBkq3ERsDg/Vc3Uij7YBSDZMYo+bxwjTPfk0/Gg="},"req_count":2,"incomplete":false,"transactions":[],"@extra":"1716802521.4800525:11:0.3722374963596241"},"id":"1","jsonrpc":"2.0"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
