interactions:
- request:
    body: '{"method": "getAddressBalance", "params": {"address": "EQDBNfV4DQzSyzNMw6BCTSZSoUi-CzWcYNsfhKxoDqfrwFtS"},
      "jsonrpc": "2.0", "id": 1}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://testnet.toncenter.com/api/v2/jsonRPC
  response:
    body:
      string: '{"ok":true,"result":"100917944877","id":"1","jsonrpc":"2.0"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"method": "getAddressBalance", "params": {"address": "1:6c058bb4a37582e27dc44c7e95cae61c8ef40fbac7783a11bc54840510b1b380"},
      "jsonrpc": "2.0", "id": 1}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://testnet.toncenter.com/api/v2/jsonRPC
  response:
    body:
      string: '{"ok":false,"error":"VALIDATE_ACCOUNT_STATEshard block id (-2147483648,0000000000000000,0):F8D81FB0EE7F0000C0FF141EE97F0000A0033F3EE17F0000B8741BB6EE7F0000:00000000E57F00001DF1B0B6EE7F0000E8DA1FB0EE7F000028D91FB0EE7F0000
        in answer is invalid","code":500}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 500
      message: Internal Server Error
- request:
    body: '{"method": "getAddressBalance", "params": {"address": "Ef9fwskZLEuGDfYTRAtvt9k-mEDkaIskkUOsEwPw1wzXk7zR"},
      "jsonrpc": "2.0", "id": 1}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://testnet.toncenter.com/api/v2/jsonRPC
  response:
    body:
      string: '{"ok":false,"error":"Incorrect address","code":416}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 416
      message: Range Not Satisfiable
version: 1
