interactions:
- request:
    body: '{"method": "getMasterchainInfo", "params": {}, "jsonrpc": "2.0", "id":
      1}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://testnet.toncenter.com/api/v2/jsonRPC
  response:
    body:
      string: '{"ok":true,"result":{"@type":"blocks.masterchainInfo","last":{"@type":"ton.blockIdExt","workchain":-1,"shard":"-9223372036854775808","seqno":19626124,"root_hash":"BYXA8qZcpyXZoJqtFzYBj8iFKtMIlxIOHlsGxYFZJog=","file_hash":"/lmcTa8vDG7I+Q2ye9ow5aXcb0x/m20C5g70bLvQMSs="},"state_root_hash":"7Jm81mHSuUt6Zkv/YExXqyJ4q5erPagqgMKPRvcItPA=","init":{"@type":"ton.blockIdExt","workchain":-1,"shard":"0","seqno":0,"root_hash":"gj+B8wb/AmlPk1z1AhVI484rhrUpgSr2oSFIh56VoSg=","file_hash":"Z+IKwYS54DmmJmesw/nAD5DzWadnOCMzee+kdgSYDOg="},"@extra":"1716802276.1572652:4:0.9983584674396017"},"id":"1","jsonrpc":"2.0"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
