interactions:
- request:
    body: '{"method": "getMasterchainInfo", "params": {}, "jsonrpc": "2.0", "id":
      1}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://testnet.toncenter.com/api/v2/jsonRPC
  response:
    body:
      string: '{"ok":true,"result":{"@type":"blocks.masterchainInfo","last":{"@type":"ton.blockIdExt","workchain":-1,"shard":"-9223372036854775808","seqno":19621531,"root_hash":"NpN30WVgH2Z6ng8ud9nPuvDF6eReY3V/al/Oh1QLPkU=","file_hash":"Rvf9PRYyhQcWbxaGUaRRKvb3uf363oYquBdZxx5Oaq4="},"state_root_hash":"VjgES3EoI5EB6CFzTJEya8s+ddpkd+ZN7f8K3c8K3gA=","init":{"@type":"ton.blockIdExt","workchain":-1,"shard":"0","seqno":0,"root_hash":"gj+B8wb/AmlPk1z1AhVI484rhrUpgSr2oSFIh56VoSg=","file_hash":"Z+IKwYS54DmmJmesw/nAD5DzWadnOCMzee+kdgSYDOg="},"@extra":"1716788421.2859814:4:0.024843195107998484"},"id":"1","jsonrpc":"2.0"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
