interactions:
- request:
    body: '{"method": "shards", "params": {"seqno": 19563127}, "jsonrpc": "2.0", "id":
      1}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://testnet.toncenter.com/api/v2/jsonRPC
  response:
    body:
      string: '{"ok":true,"result":{"@type":"blocks.shards","shards":[{"@type":"ton.blockIdExt","workchain":0,"shard":"2305843009213693952","seqno":21020822,"root_hash":"VbdPr9TpvaD3pUt0gW5h2av7cpUJUZBfHf3vQmAqFB0=","file_hash":"MY+MLsvrLLAAxEZtyCGXAjHrTr5ZaAqV9xCleoka5yM="},{"@type":"ton.blockIdExt","workchain":0,"shard":"6917529027641081856","seqno":21020817,"root_hash":"CGuGzEAN1ZqOC+Bf1zoCdKJsoAlCvA6YoRAVeQ3gj9E=","file_hash":"0z21UFXj79OUszx63rwtfw371Ysf2H5aUNvsT9j4aFY="},{"@type":"ton.blockIdExt","workchain":0,"shard":"-6917529027641081856","seqno":21018136,"root_hash":"pMfApmMsg9ZwGWW01XmEF1q80PLbJH36Z0mVOrYAg/I=","file_hash":"6RhjNwyIRL8LBoBXFyfbTzSP2ZhyzftmE+YtOHXQJqQ="},{"@type":"ton.blockIdExt","workchain":0,"shard":"-2305843009213693952","seqno":21018990,"root_hash":"BCNPDAD1RznKWpfzZioT0EnjVzhBaeNT1xnQhJeptSU=","file_hash":"P4SXu8a7I0sN80FKmSQ235gF8+sulKW9UFgwdNULitE="}],"@extra":"1716788655.329651:11:0.8698641951408717"},"id":"1","jsonrpc":"2.0"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"method": "shards", "params": {"seqno": 1951663127}, "jsonrpc": "2.0",
      "id": 1}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://testnet.toncenter.com/api/v2/jsonRPC
  response:
    body:
      string: '{"ok":false,"error":"LITE_SERVER_NOTREADY: cannot find block (-1,8000000000000000)
        seqno=1951663127: ltdb: block not found (last known masterchain block: 19622023)","code":500}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 500
      message: Internal Server Error
version: 1
