interactions:
- request:
    body: '{"method": "getWalletInformation", "params": {"address": "0QAEhA1CupMp7uMOUfHHoh7sqAMNu1xQOydf8fQf-ATpkbpT"},
      "jsonrpc": "2.0", "id": 1}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://testnet.toncenter.com/api/v2/jsonRPC
  response:
    body:
      string: '{"ok":true,"result":{"wallet":true,"balance":"4900925442","account_state":"active","wallet_type":"wallet
        v4 r2","seqno":2,"last_transaction_id":{"@type":"internal.transactionId","lt":"22014131000001","hash":"htFdXopqxYctcjLwfOhXMeRRIaAaoSZ9aRnexbfOKg8="},"wallet_id":698983191},"id":"1","jsonrpc":"2.0"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"method": "getWalletInformation", "params": {"address": "Ef9fwskZLEuGDfYTRAtvt9k-mEDkaIskkUOsEwPw1wzXk7zR"},
      "jsonrpc": "2.0", "id": 1}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://testnet.toncenter.com/api/v2/jsonRPC
  response:
    body:
      string: '{"ok":false,"error":"Incorrect address","code":416}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 416
      message: Range Not Satisfiable
- request:
    body: '{"method": "getWalletInformation", "params": {"address": "0:6c058bb4a37582e27dc44c7e95cae61c8ef40fbac7783a11bc54840510b1b380"},
      "jsonrpc": "2.0", "id": 1}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://testnet.toncenter.com/api/v2/jsonRPC
  response:
    body:
      string: '{"ok":true,"result":{"wallet":true,"balance":"87235995","account_state":"active","wallet_type":"wallet
        v3 r2","seqno":1,"last_transaction_id":{"@type":"internal.transactionId","lt":"22014127000001","hash":"5InW1tmQ3j8ZgpOh+xTa48fxPyYUXkktK1QdYEPT+sY="},"wallet_id":698983191},"id":"1","jsonrpc":"2.0"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
