interactions:
- request:
    body: '{"address": "kQCKt2WPGX-fh0cIAz38Ljd_OKQjoZE_cqk7QrYGsNP6wfP0", "method":
      "get_wallet_address", "stack": [["tvm.Slice", "te6cckEBAQEAJAAAQ4AYNFbalo+VnvodjbPFcL8N4nbrtYWpdSjacyIxoyokF7A8nBEH"]]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://testnet.toncenter.com/api/v2/runGetMethod
  response:
    body:
      string: '{"ok":true,"result":{"@type":"smc.runResult","gas_used":4479,"stack":[["cell",{"bytes":"te6cckEBAQEAJAAAQ4AUUKJDUebCWd2S1LaJw0XNM9+0t5grhCP7hEBZFzAqzTCHZOg8","object":{"data":{"b64":"gBRQokNR5sJZ3ZLUtonDRc0z37S3mCuEI/uEQFkXMCrNIA==","len":267},"refs":[],"special":false}}]],"exit_code":0,"@extra":"1735468303.4257948:4:0.9142094299266722","block_id":{"@type":"ton.blockIdExt","workchain":-1,"shard":"-9223372036854775808","seqno":26510766,"root_hash":"W4h0m/wtJe3dm/vzDkzGL4s+r8FNr3jprT3q/R3aP8U=","file_hash":"b/9zLbPnWzvE1ZfmYpxj+UTMcP3banDYx4DPnTk7AYs="},"last_transaction_id":{"@type":"internal.transactionId","lt":"25276366000001","hash":"MTfXYDFwr2lQYJh5QVzuxKGWs/vaFFUDqZAftbkMQj4="}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
