interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://testnet.toncenter.com/api/v2/runGetMethod
  response:
    body:
      string: '{"ok":true,"result":{"@type":"smc.runResult","gas_used":2961,"stack":[["cell",{"bytes":"te6cckEBAQEAJAAAQ4AOGJjtL7Yeql16Dx0DwQ6klk9ygjxTNHquJw02e3ALTnD+cOmL","object":{"data":{"b64":"gA4YmO0vth6qXXoPHQPBDqSWT3KCPFM0eq4nDTZ7cAtOYA==","len":267},"refs":[],"special":false}}]],"exit_code":0,"@extra":"1720256609.1992319:5:0.570808328329786","block_id":{"@type":"ton.blockIdExt","workchain":-1,"shard":"-9223372036854775808","seqno":20780401,"root_hash":"jK3rvpUeTijnOrWmWDtCk0COABHYNFU6OzO9hjUMh/I=","file_hash":"ygdDBj0/dYRHlrMtEPpp7G8xh9TnUDwy9yj4ug9GCeo="},"last_transaction_id":{"@type":"internal.transactionId","lt":"22719568000001","hash":"dVN9Rwx55EEGuVoTWLDuMm+l5uEUYX7iOtYFYhDcoQE="}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
