interactions:
- request:
    body: '{"address": "QCKt2WPGX-fh0cIAz38Ljd_OKQjoZE_cqk7QrYGsNP6wfP0", "method":
      "get_wallet_address", "stack": [["tvm.Slice", "te6cckEBAQEAJAAAQ4AY0XPx9Duahjny2d5vYt+uViqlLlYC+uJS3orzerGyofCiOb+H"]]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://testnet.toncenter.com/api/v2/runGetMethod
  response:
    body:
      string: '{"ok":false,"error":"Incorrect address","code":416}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 416
      message: Range Not Satisfiable
version: 1
