interactions:
- request:
    body: '{"method": "packAddress", "params": {"address": "0:95cc5a9ec1eebbbe1265a20dc63cf015d1143f5871b0ae21eeecd0d60cafc74d"},
      "jsonrpc": "2.0", "id": 1}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://testnet.toncenter.com/api/v2/jsonRPC
  response:
    body:
      string: '{"ok":true,"result":"EQCVzFqewe67vhJlog3GPPAV0RQ/WHGwriHu7NDWDK/HTec6","id":"1","jsonrpc":"2.0"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"method": "packAddress", "params": {"address": "0QAEhA1CupMp7uMOUfHHoh7sqAMNu1xQOydf8fQf+ATpkbpT"},
      "jsonrpc": "2.0", "id": 1}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://testnet.toncenter.com/api/v2/jsonRPC
  response:
    body:
      string: '{"ok":true,"result":"0QAEhA1CupMp7uMOUfHHoh7sqAMNu1xQOydf8fQf+ATpkbpT","id":"1","jsonrpc":"2.0"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
