interactions:
- request:
    body: '{"method": "getMasterchainInfo", "params": {}, "jsonrpc": "2.0", "id":
      1}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://testnet.toncenter.com/api/v2/jsonRPC
  response:
    body:
      string: '{"ok":true,"result":{"@type":"blocks.masterchainInfo","last":{"@type":"ton.blockIdExt","workchain":-1,"shard":"-9223372036854775808","seqno":27419456,"root_hash":"9mpE3OT8XkTz6BbheFry9dnkvyMPbLaY3nedYV79q4c=","file_hash":"b3jDrqE5e0BRaDVrhpzktaKXlc35Ld7ib1eTxolKFiY="},"state_root_hash":"pIKjFVR1GvSya1Evyay3g8U9BYxDpC8qFd6MIZ1P1LQ=","init":{"@type":"ton.blockIdExt","workchain":-1,"shard":"0","seqno":0,"root_hash":"gj+B8wb/AmlPk1z1AhVI484rhrUpgSr2oSFIh56VoSg=","file_hash":"Z+IKwYS54DmmJmesw/nAD5DzWadnOCMzee+kdgSYDOg="},"@extra":"1737727886.3867042:0:0.6850119529378779"},"id":"1","jsonrpc":"2.0"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"method": "shards", "params": {"seqno": 27411722}, "jsonrpc": "2.0", "id":
      1}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://testnet.toncenter.com/api/v2/jsonRPC
  response:
    body:
      string: '{"ok":true,"result":{"@type":"blocks.shards","shards":[{"@type":"ton.blockIdExt","workchain":0,"shard":"2305843009213693952","seqno":29181142,"root_hash":"nxnwogdSMOTAFxhwWazPoO1OPuAFdi/Zm8m8nC7Wpy0=","file_hash":"KwP3oLnQaD00Jyu4uUnnQngrOj040c6Gb8KYLnFxDrc="},{"@type":"ton.blockIdExt","workchain":0,"shard":"6917529027641081856","seqno":29179947,"root_hash":"B/yMIEfjaq41M3SsImoEYYbF9KPaUIbVgxWG2ruXv5A=","file_hash":"kXxeSUoYczXRlfCHerdNbrv5pCx7c8L/bstxRjjbgMc="},{"@type":"ton.blockIdExt","workchain":0,"shard":"-6917529027641081856","seqno":29177784,"root_hash":"8gehkMQ2b3rKWnUAs55RDkO2l/FM3855/Gm8nF08s6o=","file_hash":"pF11B0CptjGnwvKI+GWy1REDmkgeGwxQQ8LS6vaocP4="},{"@type":"ton.blockIdExt","workchain":0,"shard":"-2305843009213693952","seqno":29143621,"root_hash":"AmXRrFrbwe0Pc+Xwb8hpA0f42xWiRBsHrVk2jMDboOA=","file_hash":"KMAdtrAIak8luez+G7wpxOyMZLHMOqJ/Oe3BN1h+P4I="}],"@extra":"1737727887.436242:2:0.7002647017941601"},"id":"1","jsonrpc":"2.0"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"method": "getBlockTransactions", "params": {"workchain": 0, "shard":
      "2305843009213693952", "seqno": 29181142, "count": 1000}, "jsonrpc": "2.0",
      "id": 1}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://testnet.toncenter.com/api/v2/jsonRPC
  response:
    body:
      string: '{"ok":true,"result":{"@type":"blocks.transactions","id":{"@type":"ton.blockIdExt","workchain":0,"shard":"2305843009213693952","seqno":29181142,"root_hash":"nxnwogdSMOTAFxhwWazPoO1OPuAFdi/Zm8m8nC7Wpy0=","file_hash":"KwP3oLnQaD00Jyu4uUnnQngrOj040c6Gb8KYLnFxDrc="},"req_count":1000,"incomplete":false,"transactions":[],"@extra":"1737727887.5049818:2:0.2566822449758168"},"id":"1","jsonrpc":"2.0"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"method": "getBlockTransactions", "params": {"workchain": 0, "shard":
      "-2305843009213693952", "seqno": 29143621, "count": 1000}, "jsonrpc": "2.0",
      "id": 1}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://testnet.toncenter.com/api/v2/jsonRPC
  response:
    body:
      string: '{"ok":true,"result":{"@type":"blocks.transactions","id":{"@type":"ton.blockIdExt","workchain":0,"shard":"-2305843009213693952","seqno":29143621,"root_hash":"AmXRrFrbwe0Pc+Xwb8hpA0f42xWiRBsHrVk2jMDboOA=","file_hash":"KMAdtrAIak8luez+G7wpxOyMZLHMOqJ/Oe3BN1h+P4I="},"req_count":1000,"incomplete":false,"transactions":[{"@type":"blocks.shortTxId","mode":135,"account":"0:ebe403ddb6701b571b38a6c849dc65e217e8f9d31ba6963d1b62e0c5ba98c4b3","lt":"30575647000001","hash":"wJNa2fZTy9pSjhrzSIjQGrE0iafgEvvzOYCM5EQkyQU="}],"@extra":"1737727887.6270466:2:0.7336686156283473"},"id":"1","jsonrpc":"2.0"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"method": "shards", "params": {"seqno": 27411733}, "jsonrpc": "2.0", "id":
      1}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://testnet.toncenter.com/api/v2/jsonRPC
  response:
    body:
      string: '{"ok":true,"result":{"@type":"blocks.shards","shards":[{"@type":"ton.blockIdExt","workchain":0,"shard":"2305843009213693952","seqno":29181154,"root_hash":"axCkdQfFnbCVsd/Zcxg1ysv2kf1aUsyOJxCyxI4pYrc=","file_hash":"XbsCgYIoqf+FtP9pH4xoROctKB91mgZUP/X/hmUsrfw="},{"@type":"ton.blockIdExt","workchain":0,"shard":"6917529027641081856","seqno":29179960,"root_hash":"hw9Or6ouLq2eSuzWhV/LGPb9DqYgBI7wp8P4WuhfW8I=","file_hash":"7CIEhl2HnQZOGFWji0oaRYwzQPJOAZGIdaOV+DFfEUk="},{"@type":"ton.blockIdExt","workchain":0,"shard":"-6917529027641081856","seqno":29177796,"root_hash":"myAvQeNWQgvZvmwN9raKEqKgF9HZQnJ7tronBKvY85g=","file_hash":"sEdK0kHuK1pLwZQFPGiVu30Thbm1u1Dcnb13STRGv24="},{"@type":"ton.blockIdExt","workchain":0,"shard":"-2305843009213693952","seqno":29143633,"root_hash":"nXQFEkp+W9jThr6hceLts3SAeNgv5UKDRJzdBV2nlcg=","file_hash":"3foe6gM1qxjBXjw8DvdkwKa59dN3nF6766MdJ7oDUYo="}],"@extra":"1737727911.8851404:2:0.6827513652346259"},"id":"1","jsonrpc":"2.0"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
