interactions:
- request:
    body: '{"method": "getMasterchainInfo", "params": {}, "jsonrpc": "2.0", "id":
      1}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://testnet.toncenter.com/api/v2/jsonRPC
  response:
    body:
      string: '{"ok":true,"result":{"@type":"blocks.masterchainInfo","last":{"@type":"ton.blockIdExt","workchain":-1,"shard":"-9223372036854775808","seqno":27414835,"root_hash":"mYyK+a7moPcYlUnoAKuNDVPyO55X1P6ajhdTKHs57z8=","file_hash":"zQlgbSzqm0Ge2t9QOxZtT76UCfRWitQ0UpgPAD+ajJY="},"state_root_hash":"x6JN3wQqEdPtAJJL3lWMplfKaYtPTVuV1IzEybfGeOg=","init":{"@type":"ton.blockIdExt","workchain":-1,"shard":"0","seqno":0,"root_hash":"gj+B8wb/AmlPk1z1AhVI484rhrUpgSr2oSFIh56VoSg=","file_hash":"Z+IKwYS54DmmJmesw/nAD5DzWadnOCMzee+kdgSYDOg="},"@extra":"1737716391.8845375:4:0.5790968632233768"},"id":"1","jsonrpc":"2.0"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"method": "shards", "params": {"seqno": 19627950}, "jsonrpc": "2.0", "id":
      1}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://testnet.toncenter.com/api/v2/jsonRPC
  response:
    body:
      string: '{"ok":true,"result":{"@type":"blocks.shards","shards":[{"@type":"ton.blockIdExt","workchain":0,"shard":"2305843009213693952","seqno":21086011,"root_hash":"rDCqg9uOTNnkJ32tELiJu1CExLnbbG4eOD0XIMA+YKU=","file_hash":"ALoAbRV8KpDLOThjaO9YO2cYDEOZBb7UiVbBMvv+95o="},{"@type":"ton.blockIdExt","workchain":0,"shard":"6917529027641081856","seqno":21086022,"root_hash":"QYrKw/EaodE7Qi+osAg1ZZgUirV/+6xF4SGU1vBAnwc=","file_hash":"+nocSYavKaoy3yejgL0IU/TL2KlaeLhhHkE1j/ibhO0="},{"@type":"ton.blockIdExt","workchain":0,"shard":"-6917529027641081856","seqno":21083296,"root_hash":"SGhY85YDkMeHpfGrgOb1DvkEVUPRBhKm8XkXOMg2HGQ=","file_hash":"ELdG4uifTJm49/e6vXaN55x5ZS4H3bmVb47e9WHxjfM="},{"@type":"ton.blockIdExt","workchain":0,"shard":"-2305843009213693952","seqno":21084225,"root_hash":"rKovmJVhng1NO1sA+4tmy375sRUBAiQo4IGzZjbRfTg=","file_hash":"pqLCrID6rJzV5cqO/F5AMQwlRdlTaxPNQ+A/BKklzLk="}],"@extra":"1737716392.1884665:2:0.8625131394009323"},"id":"1","jsonrpc":"2.0"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"method": "getBlockTransactions", "params": {"workchain": 0, "shard":
      "2305843009213693952", "seqno": 21086011, "count": 1000}, "jsonrpc": "2.0",
      "id": 1}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://testnet.toncenter.com/api/v2/jsonRPC
  response:
    body:
      string: '{"ok":true,"result":{"@type":"blocks.transactions","id":{"@type":"ton.blockIdExt","workchain":0,"shard":"2305843009213693952","seqno":21086011,"root_hash":"rDCqg9uOTNnkJ32tELiJu1CExLnbbG4eOD0XIMA+YKU=","file_hash":"ALoAbRV8KpDLOThjaO9YO2cYDEOZBb7UiVbBMvv+95o="},"req_count":1000,"incomplete":false,"transactions":[],"@extra":"1737716392.30837:11:0.5230765453794697"},"id":"1","jsonrpc":"2.0"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"method": "getBlockTransactions", "params": {"workchain": 0, "shard":
      "-6917529027641081856", "seqno": 21083296, "count": 1000}, "jsonrpc": "2.0",
      "id": 1}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://testnet.toncenter.com/api/v2/jsonRPC
  response:
    body:
      string: '{"ok":true,"result":{"@type":"blocks.transactions","id":{"@type":"ton.blockIdExt","workchain":0,"shard":"-6917529027641081856","seqno":21083296,"root_hash":"SGhY85YDkMeHpfGrgOb1DvkEVUPRBhKm8XkXOMg2HGQ=","file_hash":"ELdG4uifTJm49/e6vXaN55x5ZS4H3bmVb47e9WHxjfM="},"req_count":1000,"incomplete":false,"transactions":[{"@type":"blocks.shortTxId","mode":135,"account":"0:8ab4438cfb69f9c1e1ffd54900dff61dc8711e424892ae244ca90874672afee7","lt":"22081057000001","hash":"qDI2jdsYg2Hv0wHpZHpL6ZnDiLepJXu9lK0oTgzh6+Y="}],"@extra":"1737716392.3659103:2:0.01724044248277301"},"id":"1","jsonrpc":"2.0"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"method": "getMasterchainInfo", "params": {}, "jsonrpc": "2.0", "id":
      1}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://testnet.toncenter.com/api/v2/jsonRPC
  response:
    body:
      string: '{"ok":true,"result":{"@type":"blocks.masterchainInfo","last":{"@type":"ton.blockIdExt","workchain":-1,"shard":"-9223372036854775808","seqno":27414836,"root_hash":"dhy9MRvkFFF/cH3lrdyU0Ml/w1vPluBLQkIUCeDptzc=","file_hash":"ncJzxjhCJznyRWlzgKmaL8fU7RkRtHbxmohR4nXkjNY="},"state_root_hash":"b0KCynz6AYXn58PVCDfRRTngOSkz3BP//uBsFT+nnvs=","init":{"@type":"ton.blockIdExt","workchain":-1,"shard":"0","seqno":0,"root_hash":"gj+B8wb/AmlPk1z1AhVI484rhrUpgSr2oSFIh56VoSg=","file_hash":"Z+IKwYS54DmmJmesw/nAD5DzWadnOCMzee+kdgSYDOg="},"@extra":"1737716393.958783:12:0.9906546508138726"},"id":"1","jsonrpc":"2.0"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
