interactions:
- request:
    body: '{"method": "getMasterchainInfo", "params": {}, "jsonrpc": "2.0", "id":
      1}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://go.getblock.io/875fb0dee2544bb0bc59dd08c6f39330/jsonRPC
  response:
    body:
      string: '{"ok":true,"result":{"@type":"blocks.masterchainInfo","last":{"@type":"ton.blockIdExt","workchain":-1,"shard":"-9223372036854775808","seqno":38093046,"root_hash":"4741z/GlvhLBbvnGr4SZxn1oVg0TRqis0YxLyvHrs5s=","file_hash":"Azb+szdc9lXctx6N1Ga6vBva2dmTPyOK42MfI63z7lQ="},"state_root_hash":"AzZXoJiaticPQQrsoa3XiLoi9OyXaoScZXzOkwhGhvM=","init":{"@type":"ton.blockIdExt","workchain":-1,"shard":"0","seqno":0,"root_hash":"F6OpKZKqvqeFp6CQmFomXNMfMj2EnaUSOXN+Mh+wVWk=","file_hash":"XplPz01CXAps5qeSWUtxcyBfdAo5zVb1N979KLSKD24="},"@extra":"1716807141.85828:0:0.9090896244771954"},"jsonrpc":"2.0","id":"1"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"method": "shards", "params": {"seqno": 19627116}, "jsonrpc": "2.0", "id":
      1}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://go.getblock.io/875fb0dee2544bb0bc59dd08c6f39330/jsonRPC
  response:
    body:
      string: '{"ok":false,"error":"LITE_SERVER_NOTREADY: cannot find block (-1,8000000000000000)
        seqno=19627116: seqno not in db","code":500}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 500
      message: Internal Server Error
[...]
- request:
    body: '{"method": "shards", "params": {"seqno": 38093046}, "jsonrpc": "2.0", "id":
      1}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://go.getblock.io/875fb0dee2544bb0bc59dd08c6f39330/jsonRPC
  response:
    body:
      string: '{"ok":true,"result":{"@type":"blocks.shards","shards":[{"@type":"ton.blockIdExt","workchain":0,"shard":"2305843009213693952","seqno":43735772,"root_hash":"qlmhJW7exvuT4dhYWWs7hEU1R8CEpLxpHRe9vN3WF0E=","file_hash":"UGvs7BSddkQbcqKLEauoT9ZoQzEOoy/KiLee9Jl6uqE="},{"@type":"ton.blockIdExt","workchain":0,"shard":"6917529027641081856","seqno":43736268,"root_hash":"ctyOoTIuP+V6to8SG4DV02RPA6K7KKo7LMQ1jpmaZLE=","file_hash":"GYP+oS6f66rRVwqywiXgrwhMkLzMY0G3wbxF3cK0ooY="},{"@type":"ton.blockIdExt","workchain":0,"shard":"-6917529027641081856","seqno":43736026,"root_hash":"5YhMX8dqZG1Fj7Mrdi4QUwiLAIxvHjjFOpYpHNRhwos=","file_hash":"+Ina2PbiFqEP/Dmuv/0RG4ZbqvqmSVEDVjl1ywuCDfY="},{"@type":"ton.blockIdExt","workchain":0,"shard":"-2305843009213693952","seqno":43736169,"root_hash":"lP13fr9CXqB1LiEEHpWOSdV5ZSLX8fk4ClnCuue2C4I=","file_hash":"Q1j2KmKBDC+jsx0E2umHIoDLyfc0e2bLOPxyL4sD6o4="}],"@extra":"1716807281.960954:0:0.3258006773467975"},"jsonrpc":"2.0","id":"1"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"method": "getBlockTransactions", "params": {"workchain": 0, "shard":
      "2305843009213693952", "seqno": 43735772, "count": 1000}, "jsonrpc": "2.0",
      "id": 1}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://go.getblock.io/875fb0dee2544bb0bc59dd08c6f39330/jsonRPC
  response:
    body:
      string: '{"ok":true,"result":{"@type":"blocks.transactions","id":{"@type":"ton.blockIdExt","workchain":0,"shard":"2305843009213693952","seqno":43735772,"root_hash":"qlmhJW7exvuT4dhYWWs7hEU1R8CEpLxpHRe9vN3WF0E=","file_hash":"UGvs7BSddkQbcqKLEauoT9ZoQzEOoy/KiLee9Jl6uqE="},"req_count":1000,"incomplete":false,"transactions":[{"@type":"blocks.shortTxId","mode":135,"account":"0:03ef2952af75f44d552b8eda5a68b844c19622f6e7020237618c0345e122e915","lt":"46747665000003","hash":"alMIt+klNMmHuj9IkUaOQ/GZYL3Ew8a9dBXcWMKJulY="},{"@type":"blocks.shortTxId","mode":135,"account":"0:306f8a62602044ad4150921c44426aca0c62cc95d51570b36102435e76fd1bf7","lt":"46747665000003","hash":"ZeK35Ug4bQL5bUus1iSfeHRkojoHRNnH0/pBOeEmx4k="},{"@type":"blocks.shortTxId","mode":135,"account":"0:3471f8f3934d2613e3b82aa44bbd25663a9883f08e33cfa7c66bd3fbeb26a8fa","lt":"46747665000007","hash":"PvUNIn1Q4lnGRnbvY4E/cgNZ59/fJKhYwPmc56DXWn0="},{"@type":"blocks.shortTxId","mode":135,"account":"0:3aa4bfaca5[...]
[...]
- request:
    body: '{"method": "getMasterchainInfo", "params": {}, "jsonrpc": "2.0", "id":
      1}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://go.getblock.io/875fb0dee2544bb0bc59dd08c6f39330/jsonRPC
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
version: 1
