interactions:
- request:
    body: '{"method": "getWalletInformation", "params": {"address": "UQDGQx-qkikxyLLI7gaQOE1au7hsG4f3C6mmzyvoLtStLiMT"},
      "jsonrpc": "2.0", "id": 1}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://testnet.toncenter.com/api/v2/jsonRPC
  response:
    body:
      string: '{"ok":true,"result":{"wallet":true,"balance":"864417906","account_state":"active","wallet_type":"wallet
        v4 r2","seqno":6,"last_transaction_id":{"@type":"internal.transactionId","lt":"23359459000001","hash":"ZLh7+UpINkRA3Oevh7dg9AHDkjMUS4FVIkmvcjPplkU="},"wallet_id":698983191},"id":"1","jsonrpc":"2.0"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://testnet.toncenter.com/api/v2/runGetMethod
  response:
    body:
      string: '{"ok":true,"result":{"@type":"smc.runResult","gas_used":2961,"stack":[["cell",{"bytes":"te6cckEBAQEAJAAAQ4AIcv7XdKwxBbuh2KzAzfIJOeHsy2XbGX6xN1weSePNRBAfthGs","object":{"data":{"b64":"gAhy/td0rDEFu6HYrMDN8gk54ezLZdsZfrE3XB5J481EAA==","len":267},"refs":[],"special":false}}]],"exit_code":0,"@extra":"1720276239.8516426:0:0.6666158231175934","block_id":{"@type":"ton.blockIdExt","workchain":-1,"shard":"-9223372036854775808","seqno":20787714,"root_hash":"sk/c4ThpfMTkmTPk7zHjR1Z4RqsbxXDV841PZJZ7ZJU=","file_hash":"/ajhXA3lNiEbFqaAaM39FixUl0bAlPr5V7rmgaEUl9g="},"last_transaction_id":{"@type":"internal.transactionId","lt":"22719568000001","hash":"dVN9Rwx55EEGuVoTWLDuMm+l5uEUYX7iOtYFYhDcoQE="}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
