interactions:
- request:
    body: '{"method": "getWalletInformation", "params": {"address": "UQDGQx-qkikxyLLI7gaQOE1au7hsG4f3C6mmzyvoLtStLiMT"},
      "jsonrpc": "2.0", "id": 1}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://testnet.toncenter.com/api/v2/jsonRPC
  response:
    body:
      string: '{"ok":true,"result":{"wallet":true,"balance":"864417906","account_state":"active","wallet_type":"wallet
        v4 r2","seqno":6,"last_transaction_id":{"@type":"internal.transactionId","lt":"23359459000001","hash":"ZLh7+UpINkRA3Oevh7dg9AHDkjMUS4FVIkmvcjPplkU="},"wallet_id":698983191},"id":"1","jsonrpc":"2.0"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://testnet.toncenter.com/api/v2/runGetMethod
  response:
    body:
      string: '{"ok":false,"error":"Incorrect address","code":416}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 416
      message: Range Not Satisfiable
version: 1
