interactions:
- request:
    body: '{"method": "eth_getBalance", "params": ["0x1284214b9b9c85549aB3D2b972df0dEEf66aC2c9",
      "latest"], "jsonrpc": "2.0", "id": 1}'
    headers: {}
    method: POST
    uri: https://bsc-testnet-rpc.publicnode.com
  response:
    body:
      string: '{"jsonrpc":"2.0","id":1,"result":"0x97272cf6321de831"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"method": "eth_getBalance", "params": ["040bA056435A7675847F4D577d3Cb8Fc2646A946",
      "latest"], "jsonrpc": "2.0", "id": 1}'
    headers: {}
    method: POST
    uri: https://bsc-testnet-rpc.publicnode.com
  response:
    body:
      string: '{"jsonrpc":"2.0","id":1,"error":{"code":-32602,"message":"invalid argument
        0: json: cannot unmarshal hex string without 0x prefix into Go value of type
        common.Address"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
