interactions:
- request:
    body: '{"method": "eth_gasPrice", "params": [], "jsonrpc": "2.0", "id": 1}'
    headers: {}
    method: POST
    uri: https://nameless-flashy-snow.bsc-testnet.quiknode.pro/c54e248a38fb9b7a8b31d84d57c1e41b203ed019/
  response:
    body:
      string: '{"jsonrpc":"2.0","id":1,"result":"0x12a05f200"}

        '
    headers:
      Content-Type:
      - application/json
      X-Host-Id:
      - f1b546936d23e3b5-4291c05108b63f99
      X-Node-Id:
      - bnb-smart-chain_bsc-testnet_iad
    status:
      code: 200
      message: OK
version: 1
