interactions:
- request:
    body: '{"method": "eth_blockNumber", "params": [], "id": 1, "jsonrpc": "2.0"}'
    headers: {}
    method: POST
    uri: https://nameless-flashy-snow.bsc-testnet.quiknode.pro/c54e248a38fb9b7a8b31d84d57c1e41b203ed019/
  response:
    body:
      string: '{"jsonrpc":"2.0","id":1,"result":"0x261b51d"}'
    headers:
      Content-Type:
      - application/json
      X-Node-Id:
      - bnb-smart-chain_bsc-testnet_iad
    status:
      code: 200
      message: OK
- request:
    body: '{"method": "eth_blockNumber", "params": [], "jsonrpc": "2.0", "id": 1}'
    headers: {}
    method: POST
    uri: https://nameless-flashy-snow.bsc-testnet.quiknode.pro/c54e248a38fb9b7a8b31d84d57c1e41b203ed019/
  response:
    body:
      string: '{"jsonrpc":"2.0","id":1,"result":"0x261bd7a"}'
    headers:
      Content-Type:
      - application/json
      X-Node-Id:
      - bnb-smart-chain_bsc-testnet_iad
    status:
      code: 200
      message: OK
version: 1
