interactions:
- request:
    body: '{"method": "eth_getTransactionCount", "params": ["0xf9E35E4e1CbcF08E99B84d3f6FF662Ba4c306b5a",
      "latest"], "jsonrpc": "2.0", "id": 1}'
    headers: {}
    method: POST
    uri: https://bsc-testnet-rpc.publicnode.com
  response:
    body:
      string: '{"jsonrpc":"2.0","id":1,"result":"0x0"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"method": "eth_getTransactionCount", "params": ["2dbB5a4c235164B9f772179A43faca2c71a8abDB",
      "latest"], "jsonrpc": "2.0", "id": 1}'
    headers: {}
    method: POST
    uri: https://bsc-testnet-rpc.publicnode.com
  response:
    body:
      string: '{"jsonrpc":"2.0","id":1,"error":{"code":-32602,"message":"invalid argument
        0: json: cannot unmarshal hex string without 0x prefix into Go value of type
        common.Address"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"method": "eth_getTransactionCount", "params": ["0x2dbB5a4c235164B9f772179A43faca2c71a8ab",
      "latest"], "jsonrpc": "2.0", "id": 1}'
    headers: {}
    method: POST
    uri: https://bsc-testnet-rpc.publicnode.com
  response:
    body:
      string: '{"jsonrpc":"2.0","id":1,"error":{"code":-32602,"message":"invalid argument
        0: hex string has length 38, want 40 for common.Address"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
