interactions:
- request:
    body: '{"method": "eth_getTransactionCount", "params": ["0x3ffeCb152F95f7122990ab16Eff4B0B5d533497e",
      "latest"], "id": 1, "jsonrpc": "2.0"}'
    headers: {}
    method: POST
    uri: https://nameless-flashy-snow.bsc-testnet.quiknode.pro/c54e248a38fb9b7a8b31d84d57c1e41b203ed019/
  response:
    body:
      string: '{"jsonrpc":"2.0","id":1,"result":"0x65"}

        '
    headers:
      Content-Type:
      - application/json
      X-Host-Id:
      - f1b546936d23e3b5-2bd95d6b916503dd
      X-Node-Id:
      - bnb-smart-chain_bsc-testnet_iad
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: POST
    uri: https://nameless-flashy-snow.bsc-testnet.quiknode.pro/c54e248a38fb9b7a8b31d84d57c1e41b203ed019/
  response:
    body:
      string: '{"jsonrpc":"2.0","id":1,"result":"0xe57cbc1feb6a2c02dbf5934983714b260596fde3cc520a4ae482f353732f4c5e"}

        '
    headers:
      Content-Type:
      - application/json
      X-Host-Id:
      - f1b546936d23e3b5-10ebeaeae12fe5d7
      X-Node-Id:
      - bnb-smart-chain_bsc-testnet_iad
    status:
      code: 200
      message: OK
version: 1
