interactions:
- request:
    body: '{"method": "eth_getTransactionCount", "params": ["0x3ffeCb152F95f7122990ab16Eff4B0B5d533497e",
      "latest"], "jsonrpc": "2.0", "id": 1}'
    headers: {}
    method: POST
    uri: https://bsc-testnet-rpc.publicnode.com
  response:
    body:
      string: '{"jsonrpc":"2.0","id":1,"result":"0x86"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"method": "eth_chainId", "params": [], "jsonrpc": "2.0", "id": 1}'
    headers: {}
    method: POST
    uri: https://bsc-testnet-rpc.publicnode.com
  response:
    body:
      string: '{"jsonrpc":"2.0","result":"0x61","id":1}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
