interactions:
- request:
    body: '{"method": "getblockcount", "params": [], "jsonrpc": "2.0", "id": "curltest"}'
    headers: {}
    method: POST
    uri: https://api.tatum.io/v3/blockchain/node/bitcoin-testnet/t-66b98fa76a2e46001c79a063-eecc770265e8462e806b601f/
  response:
    body:
      string: '{"result":2874563,"error":null,"id":"curltest"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2f-cvqyy5EDHq0dTbhVSY9UMlAm/gA"
      x-ttm-limit-group:
      - v3:com::200
    status:
      code: 200
      message: OK
version: 1
