interactions:
- request:
    body: '{"method": "getblockcount", "params": [], "jsonrpc": "2.0", "id": "curltest"}'
    headers: {}
    method: POST
    uri: https://ultra-special-dust.btc-testnet.quiknode.pro/331c45aef598f74795cef49fd7e5be98d37d7f06/
  response:
    body:
      string: '{"result":2819675,"error":null,"id":"curltest"}

        '
    headers:
      Content-Type:
      - application/json
      X-Host-Id:
      - f1b546936d23e3b5-d46e6ad25adfe563
      X-Node-Id:
      - bitcoin_btc-testnet_iad
    status:
      code: 200
      message: OK
version: 1
