interactions:
- request:
    body: '{"method": "getblockcount", "params": [], "jsonrpc": "2.0", "id": "curltest"}'
    headers: {}
    method: POST
    uri: https://api.tatum.io/v3/blockchain/node/bitcoin-testnet/t-66b98fa76a2e46001c79a063-eecc770265e8462e806b601f/
  response:
    body:
      string: '{"result":2819675,"error":null,"id":"curltest"}

        '
    headers:
      Content-Type:
      - application/json
      X-Host-Id:
      - f1b546936d23e3b5-d46e6ad25adfe563
      X-Node-Id:
      - bitcoin_btc-testnet_iad
    status:
      code: 200
      message: OK
version: 1
