interactions:
- request:
    body: '{"method": "getblockcount", "params": [], "jsonrpc": "2.0", "id": "curltest"}'
    headers: {}
    method: POST
    uri: https://bitter-warmhearted-film.btc-testnet.quiknode.pro/ddf238a16e9d7342e403d000a6134a2d750765f8/
  response:
    body:
      string: '{"result":2819675,"error":null,"id":"curltest"}

        '
    headers:
      Content-Type:
      - application/json
      X-Host-Id:
      - f1b546936d23e3b5-d46e6ad25adfe563
      X-Node-Id:
      - bitcoin_btc-testnet_iad
    status:
      code: 200
      message: OK
version: 1
