interactions:
- request:
    body: '{"method": "eth_getBalance", "params": ["0x56ebc43d764761bc09d5918787672e2c8d46da5f",
      "latest"], "jsonrpc": "2.0", "id": 1}'
    headers: {}
    method: POST
    uri: https://polygon-amoy-bor-rpc.publicnode.com
  response:
    body:
      string: '{"jsonrpc":"2.0","id":1,"result":"0x0"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"method": "eth_getBalance", "params": ["0x68EfbC84d1Eabc193979beab2E2DDc20B219A14",
      "latest"], "jsonrpc": "2.0", "id": 1}'
    headers: {}
    method: POST
    uri: https://polygon-amoy-bor-rpc.publicnode.com
  response:
    body:
      string: '{"jsonrpc":"2.0","id":1,"error":{"code":-32602,"message":"invalid argument
        0: json: cannot unmarshal hex string of odd length into Go value of type common.Address"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
