interactions:
- request:
    body: '{"method": "eth_getTransactionCount", "params": ["0xf9E35E4e1CbcF08E99B84d3f6FF662Ba4c306b5a",
      "pending"], "jsonrpc": "2.0", "id": 1}'
    headers: {}
    method: POST
    uri: https://polygon-amoy-bor-rpc.publicnode.com
  response:
    body:
      string: '{"jsonrpc":"2.0","id":1,"result":"0x4"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"method": "eth_chainId", "params": [], "jsonrpc": "2.0", "id": 1}'
    headers: {}
    method: POST
    uri: https://polygon-amoy-bor-rpc.publicnode.com
  response:
    body:
      string: '{"jsonrpc":"2.0","result":"0x13882","id":1}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
