interactions:
- request:
    body: '{"method": "eth_call", "params": [{"to": "0x419Fe9f14Ff3aA22e46ff1d03a73EdF3b70A62ED",
      "data": "0x313ce567"}, "latest"], "jsonrpc": "2.0", "id": 1}'
    headers: {}
    method: POST
    uri: https://ethereum-sepolia-rpc.publicnode.com
  response:
    body:
      string: '{"jsonrpc":"2.0","id":1,"result":"0x0000000000000000000000000000000000000000000000000000000000000006"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"method": "eth_call", "params": [{"to": "0x337610d27c682E347C9cD60BD4b3b107C9d34dD",
      "data": "0x313ce567"}, "latest"], "jsonrpc": "2.0", "id": 1}'
    headers: {}
    method: POST
    uri: https://ethereum-sepolia-rpc.publicnode.com
  response:
    body:
      string: '{"jsonrpc":"2.0","id":1,"error":{"code":-32602,"message":"invalid argument
        0: json: cannot unmarshal hex string of odd length into Go struct field TransactionArgs.to
        of type common.Address"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"method": "eth_call", "params": [{"to": "0x1a0cdabee2c57c965b8bbc037671e458805dfdd5",
      "data": "0x313ce567"}, "latest"], "jsonrpc": "2.0", "id": 1}'
    headers: {}
    method: POST
    uri: https://ethereum-sepolia-rpc.publicnode.com
  response:
    body:
      string: '{"jsonrpc":"2.0","id":1,"result":"0x0000000000000000000000000000000000000000000000000000000000000012"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
