interactions:
- request:
    body: '{"method": "eth_getTransactionCount", "params": ["0x159bD467fafcfA348D2b5f357b23aA1d70E814A0",
      "latest"], "jsonrpc": "2.0", "id": 1}'
    headers: {}
    method: POST
    uri: https://ethereum-sepolia-rpc.publicnode.com
  response:
    body:
      string: '{"jsonrpc":"2.0","id":1,"result":"0x1"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"method": "eth_getTransactionCount", "params": ["0xDA31b5ac94C559478Eeaa7E347ee4557f9a6F71",
      "latest"], "jsonrpc": "2.0", "id": 1}'
    headers: {}
    method: POST
    uri: https://ethereum-sepolia-rpc.publicnode.com
  response:
    body:
      string: '{"jsonrpc":"2.0","id":1,"error":{"code":-32602,"message":"invalid argument
        0: json: cannot unmarshal hex string of odd length into Go value of type common.Address"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"method": "eth_getTransactionCount", "params": ["DA31b5ac94C559478Eeaa7E347ee4557f9a6F71C",
      "latest"], "jsonrpc": "2.0", "id": 1}'
    headers: {}
    method: POST
    uri: https://ethereum-sepolia-rpc.publicnode.com
  response:
    body:
      string: '{"jsonrpc":"2.0","id":1,"error":{"code":-32602,"message":"invalid argument
        0: json: cannot unmarshal hex string without 0x prefix into Go value of type
        common.Address"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
