interactions:
- request:
    body: '{"method": "getblockcount", "params": [], "jsonrpc": "2.0", "id": "curltest"}'
    headers: {}
    method: POST
    uri: https://api.tatum.io/v3/blockchain/node/litecoin-core-testnet
  response:
    body:
      string: '{"result":3308784,"error":null,"id":"curltest"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2f-ae1RyKFgABdp8lPt2KYRPsO9u1Q"
      x-lgroup:
      - v3:::4
      x-ratelimit-persec:
      - '3'
    status:
      code: 200
      message: OK
version: 1
