interactions:
- request:
    body: '{"method": "getblockcount", "params": [], "jsonrpc": "2.0", "id": "curltest"}'
    headers: {}
    method: POST
    uri: https://api.tatum.io/v3/blockchain/node/litecoin-core-testnet/t-66b98fa76a2e46001c79a063-6be61af199b34129a4797ed2/
  response:
    body:
      string: '{"result":3390439,"error":null,"id":"curltest"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2f-HzC+iyNYu+iMpJwYnhUqb2FHfcI"
      x-ttm-limit-group:
      - v3:com::200
    status:
      code: 200
      message: OK
version: 1
