interactions:
- request:
    body: '{"method": "getblockcount", "params": [], "jsonrpc": "2.0", "id": "curltest"}'
    headers: {}
    method: POST
    uri: https://api.tatum.io/v3/blockchain/node/litecoin-core-testnet
  response:
    body:
      string: '{"result":3262693,"error":null,"id":"curltest"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2f-8+0igngbeBM+pE0ju/QlXPk1hps"
      x-lgroup:
      - v3:::4
      x-ratelimit-persec:
      - '3'
    status:
      code: 200
      message: OK
- request:
    body: '{"method": "estimatesmartfee", "params": [6, "CONSERVATIVE"], "jsonrpc":
      "2.0", "id": "curltest"}'
    headers: {}
    method: POST
    uri: https://api.tatum.io/v3/blockchain/node/litecoin-core-testnet
  response:
    body:
      string: '{"result":{"feerate":0.00013284,"blocks":6},"error":null,"id":"curltest"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"49-s8FpMi+Vd69mENhtMrJpUCASJQk"
      x-lgroup:
      - v3:::4
      x-ratelimit-persec:
      - '3'
    status:
      code: 200
      message: OK
[...]
